Source: nemo-emblems
Section: x11
Priority: optional
Maintainer: Debian Cinnamon Team <pkg-cinnamon-team@lists.alioth.debian.org>
Uploaders: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 9),
               python-all,
               python-distutils-extra,
               dh-python
Standards-Version: 3.9.8
Homepage: https://github.com/linuxmint/nemo-extensions
Vcs-Browser: https://github.com/GLolol/nemo-emblems-deb
Vcs-Git: https://github.com/GLolol/nemo-emblems-deb

Package: nemo-emblems
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         nemo,
         nemo-python,
         gnome-icon-theme
Description: Folder and file emblem support for Nemo
 Nemo-emblems adds folder and file emblem support to Nemo, the official
 file manager for the Cinnamon desktop.
